body {
	width: 600px;
	margin: 50px auto;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, sans-serif;
	position: relative;
	height: 400px;
	font-size: 20px;
}

h1 {
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 0;
	font-size: 10px;
}
